/* navbar */
/* ================================================================================================================== */


.navbar-brand{
  width: 0;
}

.nav-item ,.navbar-brand{
  font-family: "Prata", serif !important;
  font-weight: 400;
  font-style: normal;
}

.active{
  color: #FF644D !important;
  font-weight: 600 !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: center;
}



/* cards */
/* ================================================================================================================== */
.card-img-top{
  width: 30% !important;
  mix-blend-mode: multiply;
}

.card{
  border: none !important;
  margin-bottom: 15rem;
  padding: 2%;
}

.card-container {
    perspective: 1000px; /* Adds 3D perspective */
  }
  
  .card-flip {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card.flipped .card-flip {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
    display: none; /* Hidden until card flips */
  }
  
  .card.flipped .card-back {
    display: block; /* Show back when flipped */
  }
  
  .card.flipped .card-front {
    display: none; /* Hide front when flipped */
  }
  