/* navbar */
/* ================================================================================================================== */

nav {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand, .nav-item {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,...");
}

.nav-item {
  color: #262626 !important;
}

.nav-item:hover, .active {
  color: #ff644d !important;
  font-weight: 600 !important;
}


/* hero */
/* ================================================================================================================== */
.hero{
  height: 100vh;
  background-image: url(../assets/Courses_Hero.png);
  background-position: center;
  background-size: contain;
}

.title{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 64px;

  margin-bottom: 2rem;
}



/* cards */
/* ================================================================================================================== */

.card-container {
  perspective: 1000px;
}

.card-img-top{
  width: 30% !important;
  mix-blend-mode: multiply !important;
}

.card{
  margin-bottom: 15rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
  padding-top: 5%;
  height: 100% !important;

  background: rgba( 255, 255, 255, 0.0 ) !important; 
  box-shadow: 0 8px 24px 0 rgba(37, 37, 37, 0.37) !important;
  backdrop-filter: blur( 5px ) !important;
  -webkit-backdrop-filter: blur( 5px ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;

}

.card:hover{
  cursor: pointer;
}

.card-container {
    perspective: 1000px; /* Adds 3D perspective */
  }
  
  .card-flip {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card.flipped .card-flip {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
    display: none; /* Hidden until card flips */
    
  }
  
  .card.flipped .card-back {
    display: block; /* Show back when flipped */
  }
  
  .card.flipped .card-front {
    display: none; /* Hide front when flipped */
  }
  

  .card-title{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
}

.card-text{
    font-family: "Prata", serif !important;
    font-weight: 400;
}

.btn-primary{
  border: 1px solid #ff644d !important;
  background-color: #ff644d !important;
  color: white;
}


.footer {
  background-color: #f8f8f8;
  color: #888;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
}
