/* navbar */
/* ================================================================================================================== */


.navbar-brand{
    width: 0;
}

.nav-item ,.navbar-brand{
    font-family: "Prata", serif !important;
    font-weight: 400;
    font-style: normal;
}

.active{
    color: #FF644D !important;
    font-weight: 600 !important;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
}


/* hero */
/* ================================================================================================================== */
.hero{
    height: 100vh;
    background-image: url(../assets/Hero.png);
    background-position: center;
    background-size: cover;
}

.title{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 64px;

    margin-bottom: 2rem;
}

.subtitle{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 4rem;
}

.cta{
    width: 100%;

    font-family: "Prata", serif !important;
    font-weight: 400;
    font-style: normal;

    background-color: #FF644D !important;
    border: 1px solid #FF644D !important;
}

/* why sign up with us section */
/* ================================================================================================================== */

.sign-up-title{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    font-size: 48px;
}

.card{
    border: none !important;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.card-title ,.card-header{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
}

.card-text{
    font-family: "Prata", serif;
    font-weight: 400;
}

.card-img-top{
    margin-left: 25%;
    width: 50% !important;
}

/* testimonial section */
/* ================================================================================================================== */
.card-test{
    border: 1px solid grey !important;
}

.card-header{
    text-align: left;
    background-color: #FF644D !important;
    color: #FFFFFF !important;
}